<% title "统计图：游戏#{@role.game.name}，角色#{@role.name}" %>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["linechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Week');
    data.addColumn('number', '订货量');
    data.addColumn('number', '需求量');
    data.addColumn('number', '库存量');
	
	<% week = @role.received_orders.length %>
    data.addRows(<%= week %>);

	<% (0..week-1).to_a.each do |i| %>
    data.setValue(<%= i %>, 0, '第<%= i + 1 %>周');
    data.setValue(<%= i %>, 1, <%= @role.placed_orders[i].nil?? 0 : @role.placed_orders[i].amount %>);
    data.setValue(<%= i %>, 2, <%= @role.received_orders[i].amount %>);
    data.setValue(<%= i %>, 3, <%= @role.inventory_histories[i].amount %>);
	<% end %>

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 500, height: 300, legend: 'bottom', title: '统计图：游戏<%= @role.game.name %>，角色<%= @role.name %>'});
  }
</script>

<div id="chart_div"></div>