<h1><%= @game.name %></h1>
<h2><%= @role.name %></h2>

<h2>Current Week: <%=@game.current_week%></h2>
<% form_for(@role, :url => url_for(:controller => 'orders', :action => 'create') )do |f| %>
	<% f.fields_for :placed_orders do |order| %>
		<%= order.text_field :amount %>
	<% end %>
	<%= f.hidden_field :id, :value => @role.id %>
	<%= f.hidden_field :game_id, :value => @game.id %>
	<%= f.submit 'Place order' %>
<% end %>

Your placed orders:
<ul>
<% @role.placed_orders.each do |order|%>
	<li><%= order.amount%></li>
<% end %>
</ul>

Your received orders:
<ul>
<% @role.received_orders.each do |order|%>
	<li>Demand from <%= @role.downstream.name %>: <%= order.amount%>, placed on week <%= order.at_week%></li>
<% end %>
</ul>

Your inbox orders:
<ul>
<% @role.inbox_orders.each do |order|%>
	<li><%= order.amount%> placed on week <%= order.at_week%></li>
<% end %>
</ul>