<h1><%= @game.name %></h1>
<h2><%= @role.name %></h2>

<h2>Current Week: <%=@game.current_week%></h2>


<div class="basic_information">
	You have shipped <%= @role.placed_shipments.last.amount %> unit to <%= @role.downstream.name %>
	<table>
		<tr>
			<td>Order from customer: <%= @role.received_orders.last.amount %></td>
			<td>Current inventory: <%= @role.inventory %></td>
		</tr>
		<tr>
			<td>Shipment received: <%= @role.received_shipments.last.amount %></td>
			<td>Current Backorder: <%= @role.backorder %></td>
		</tr>	
	</table>
</div>
<% if !@role.order_placed? %>
	<% form_for(@role, :url => url_for(:controller => 'orders', :action => 'create') )do |f| %>
		<% f.fields_for :placed_orders do |order| %>
			Enter the number of units to be purchased from <%= @role.upstream.name %>: <%= order.text_field :amount %>
		<% end %>
		<%= f.hidden_field :id, :value => @role.id %>
		<%= f.hidden_field :game_id, :value => @game.id %>
		<%= f.submit 'Place order' %>
	<% end %>
<% else %>
<p>PLEASE WAIT FOR ALL THE OTHER PARTNERS TO COMPLETE THEIR WEEKLY ORDERING AND SHIPPING.</p>
<% end %>

<div class="history">
	<table>
		<tr>
			<td>Week</td>
			<td>Placed order</td>
			<td>Placed shipment</td>
			<td>Received order</td>
			<td>Received shipment</td>
		</tr>
			<% (0..@role.received_orders.length-1).to_a.each{|i|%>
				<tr>
					<td><%= i+1 %></td>
					<td><%= @role.placed_orders[i].nil?? 0 : @role.placed_orders[i].amount %></td>
					<td><%= @role.placed_shipments[i].amount %></td>
					<td><%= @role.received_orders[i].amount %></td>
					<td><%= @role.received_shipments[i].amount %></td>
				</tr>	
			<% } %>
	</table>
</div>