<% title @game.name %>
<div class="basic_information">
	<h2>你所扮演的角色是：<%= @role.name %>，现在是第<%=@game.current_week%>周</h2>

	<div class="received_order">
		从<%= @role.downstream.name %>发来的订单数量为: <%= @role.received_orders.last.amount %>
	</div>
	<div class="received_shipment">
		你从<%= @role.upstream.name %>收到的货物数量为: <%= @role.received_shipments.last.amount %>
	</div>
	<div class="placed_shipment">
		你已经向<%= @role.downstream.name %>发送了<%= @role.placed_shipments.last.amount %>个单位的货物 
	</div>
	<% if @role.has_inventory?%>
		<div class="inventory">
			你当前的库存是: <%= @role.inventory %>
		</div>
	<% else %>
		<div class="backorder">
			你当前的欠货是: <%= @role.backorder %>
		</div>
	<% end%>
	<div class="order_form">
		<% if !@role.order_placed? %>
				<% form_for(@role, :url => url_for(:controller => 'orders', :action => 'create') )do |f| %>
					<% f.fields_for :placed_orders do |order| %>
						请输入你要向<%= @role.upstream.name %>订货的数量: <%= order.text_field :amount %>
					<% end %>
					<%= f.hidden_field :id, :value => @role.id %>
					<%= f.hidden_field :game_id, :value => @game.id %>
					<%= f.submit '下订单' %>
				<% end %>
			<% else %>
			<p><span>请等待其他玩家下订单。</span></p>
		<% end %>
	</div>
	<div>
		<%= link_to "查看统计图表", game_plot_path(@role.game, @role), :rel => "gb_page_center[550, 350]" %>
	</div>
</div>
<div class="history">
	<table>
		<thead>
		<tr>
			<th>星期</th>
			<th>库存/欠货</th>
			<th>已下订单</th>
			<th>已收货</th>
			<th>收到订单</th>
			<th>已发货</th>
		</tr>
		</thead>
		<tbody>
			<% (0..@role.received_orders.length-1).to_a.each do |i| %>
				<tr>
					<td><%= i+1 %></td>
					<td class= <%= @role.inventory_histories[i].amount > 0 ? "inventory" : "backorder" %>>
						<%= @role.inventory_histories[i].amount %>
					</td>
					<td><%= @role.placed_orders[i].nil?? 0 : @role.placed_orders[i].amount %></td>
					<td><%= @role.received_shipments[i].amount %></td>
					<td><%= @role.received_orders[i].amount %></td>
					<td><%= @role.placed_shipments[i].amount %></td>
				</tr>	
			<% end %>
		</tbody>
	</table>
</div>