
<h2>你正在玩的游戏是：<%= @game.name %>，你所扮演的角色是：<%= @role.name %></h2>

<h2>现在是第<%=@game.current_week%>个星期</h2>


<div class="basic_information">
	你已经向<%= @role.downstream.name %>发送了<%= @role.placed_shipments.last.amount %>个单位的货物 
	<table>
		<tr>
			<td>从<%= @role.downstream.name %>发来的订单数量为: <%= @role.received_orders.last.amount %></td>
		</tr>
		<tr>
			<td>你从<%= @role.upstream.name %>收到的货物数量为: <%= @role.received_shipments.last.amount %></td>
		</tr>
		<tr>
			<% if @role.has_inventory?%>
			<td>你当前的库存是: <%= @role.inventory %></td>
			<% else %>
			<td>你当前的欠货是: <%= @role.backorder %></td>
			<% end%>
		</tr>	
	</table>
</div>
<% if !@role.order_placed? %>
	<% form_for(@role, :url => url_for(:controller => 'orders', :action => 'create') )do |f| %>
		<% f.fields_for :placed_orders do |order| %>
			请输入你要向<%= @role.upstream.name %>订货的数量: <%= order.text_field :amount %>
		<% end %>
		<%= f.hidden_field :id, :value => @role.id %>
		<%= f.hidden_field :game_id, :value => @game.id %>
		<%= f.submit 'Place order' %>
	<% end %>
<% else %>
<p>请等待其他玩家下订单。</p>
<% end %>

<div class="history">
	<table>
		<tr>
			<td>星期</td>
			<td>库存</td>
			<td>已下订单</td>
			<td>已发货</td>
			<td>收到订单</td>
			<td>收货</td>
		</tr>
			<% (0..@role.received_orders.length-1).to_a.each{|i|%>
				<tr>
					<td><%= i+1 %></td>
					<td><%= @role.inventory_histories[i].amount%><td>
					<td><%= @role.placed_orders[i].nil?? 0 : @role.placed_orders[i].amount %></td>
					<td><%= @role.placed_shipments[i].amount %></td>
					<td><%= @role.received_orders[i].amount %></td>
					<td><%= @role.received_shipments[i].amount %></td>
				</tr>	
			<% } %>
	</table>
</div>