<html>
	<head>
		<title>啤酒游戏 | <%= yield :title %></title>
		<%= javascript_include_tag :defaults %>
		
		<%= stylesheet_link_tag 'main' %>
		
		<script type="text/javascript">
		    var GB_ROOT_DIR = "/greybox/";
		</script>
		
		<script type="text/javascript" src="/greybox/AJS.js"></script>
		<script type="text/javascript" src="/greybox/AJS_fx.js"></script>
		<script type="text/javascript" src="/greybox/gb_scripts.js"></script>
		<script type="text/javascript" src="/javascripts/swfobject.js"></script>
		<link href="/greybox/gb_styles.css" rel="stylesheet" type="text/css" />
	</head>
	
	<body>
		<div class="pageheaded" id="header">
		      <div class="site">
		          <div class="logo">
		            <div style="margin-top: 0px; float: left;">啤酒游戏</div>
					<div style="margin-top: 0px; float: left;">@ThoughtWorks</div>
				  </div>
				  <div class="userbox">
					    <div class="inner">
					      <ul class="usernav">
					        <li>
								<%= link_to '游戏管理', :controller => 'games' %>
							</li>
				        	<li><a href="#">Blah</a></li>
						    <li><a href="#">Blah</a></li>
						    <li><a href="#">About Us</a></li>
				  	      </ul>
					    </div>
				  </div>
			</div>
		</div>
		<div id='content'>
			<%= flash[:notice] %>
			<%= yield %>
		</div>
	</body>
</html>