<% title @game.name %>
<h1>游戏名称：<%= @game.name %></h1>

<% form_for(@game) do |game| %>
	<p> 
		库存成本：<%= game.text_field :inventory_cost %> 
	</p> 
	<p> 
		欠货成本：<%= game.text_field :backorder_cost %> 
	</p>
	<p>
		共有多少星期：<%= game.text_field :max_weeks %>
	</p>
	<p><%= game.submit "提交" %></p>
<% end%>